
h1 {
	padding-top: 2em;
	padding-bottom: 1.5em;
	text-align: center;
	color: #11283C;
}

div.task {
	/*background-color: #BECDD5;*/
	margin-bottom: 1em;
	border-bottom: 2px solid #ffffff;
	padding: 0;
}

div.taskElements {
	/*height: 5em;*/
	padding: 0;
	border-bottom: 2px solid #ffffff;
	padding: .8em;
	width: 100%;
}

div.taskContent {
	/*background-color: #BFC8D4;*/
	/*overflow-y: scroll;*/
	/*text-align: left;*/
}

.order-number {
	text-align: left;
	list-style-position:initial;
	vertical-align: center;
}


button.add-task {
	width: 4em;
	height: 4em;
	padding: .3em .3em;
	margin-bottom: 3em;
	margin-left: 28px;
	border-radius: 50%;
	outline: 0;
}

.glyphicon-plus {
	font-size: 1.5em;
	word-spacing: -10px;
} 

h3.change-add-task-status {
	float: left;
	color: #2F4351;
}

.added-task {
	font-size: 1em;
	padding: .3em .2em;
	margin-bottom: 1em;
	color: #222720;
}


.glyphicon-remove {
	font-size: 1em;
	/*color: #79211B;*/
	color: #ffffff;
}

.time, .user, .ckeckBox {
	/*margin-left: .2em;*/
	border-left: 1px solid black;
	padding: 1em; 
}


input[type=checkbox] {
	position: relative;
	display: inline;
	float: right;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-top: 0.1em;
	margin-right: -12px;
	outline: 2px solid #286090;
 }
 
 input[type=text] {
	width: 75%;
	height: 3em;
	margin-left: 25px;
	margin-bottom: 1em;
 }
 
 .btn-success {
	height: 3em;
 }
 
table {
	width: 100%;
	/*border: 1px solid black;*/
	background-color: #E2E9EE;
}
 
.title, .modal-header {
	background: #5E5F59; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#286090, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#286090, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#286090, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#286090, white); /* Standard syntax  #5E5F59, #2F4351*/ 
}

div.title {
	height: 30px;
	font-size: 1.2em;
	padding-left: 1em;
}
 
/*
div.user-params-task {
	border-bottom: 1px solid #286090;
}
*/

div.task-parameter {
	/*border: 1px solid #286090;*/
} 
 
 /*
 div {
	background: #E2E9EE; /*#D4D3BF*
 }
 */
 
 table td {
	border: 1px solid #ffffff;
	text-align: center;
	padding: .2em 1em;
 }
 
 /*
 div.task {
	width: 100%;
	border: none;
 }
 */
 
 tabla td.countdown {
	width: 30%;
 }
 
 div.user-params-task {
	padding-bottom: .5em;
 }
 
 div.countdownContent {
	width: 100%;
 }
  
 p.task-item {
	font-size: 1em;
	text-align: left;
	padding-left: 5em;
	
 }
 
 
 #login-buttons {
	float: right;
	padding-right: 200px;
 }
 
 a.login-link-text {
	font-size: 1.3em;
 }  

/* Styling the ordered list */

ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

li {
    counter-increment: step-counter;
}

li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 100%;
    background-color: rgb(47, 67, 81);
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
}
/* End ordered list*/


div.task-parameter {
	height: 30px;
}


/* Task priority */

div.task-priority {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 1px solid #000000;
	margin-top: 1px;
}

div.normal-priority {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 1px solid #000000;
}

div.high-priority {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #000000;
	background-color: #B82828;
}
/* end task priority */

.taskContent {
	background: #E2E9EE    /*#CDDEE5*/;
	border-radius: 5px;
	font-size: 1.2em;
	border: 1px solid #96A9B0;
}



/* COUNT DOWN*/

.timer {
	display: inline;
}
/* CSS declarations go here */

/*
body{
	text-align: center;
	background: #00ECB9;
	font-family: sans-serif;
	font-weight: 100;
}
*/


#clockdiv{
	font-family: sans-serif;
	color: #2F4351;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 20px;
	margin-top: -10px;
}

#clockdiv > div{
	padding: 5px;
	border-radius: 3px;
	/*background: #5480A6;*/
	display: inline-block;
}

#clockdiv div > span{
	width: 40px;
	height: 40px;
	padding: 6px;
	border-radius: 50%;
	background: #000;
	color: #00FF00;
	display: inline-block;
}

.time{
	float: left;
	padding: 0;
	margin: 0;

}

/*.seconds, .seconds1{
	padding: 0;
	margin: 0;
	display: inline-block;
}*/

.smalltext{
	padding-top: 0px;
	font-size: 16px;
}

.alternate{
	border-radius: 15px;
	background: #ccc;
	color: red;
}

/* Styles the edit input text box */
div.title input[type="text"].wide-text-edit {
	height: 1em;
}

div.tremble {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

button .glyphicon-remove {
	/*position: relative;*/
}

button.button-delete {
	margin-right: -12px;
	margin-top: 3px;
}

h4.title-text {
	position: absolute;
	font-size: 22px;
	font-weight: 900;
	margin-top: 4px;
	color: #2F4351;
}

h3.change-add-task-status {
	margin-left: -480px;
}


ol.order-number {
	margin-left: -40px; /* Para fazer uma correção e centrar a página em small screens */
}

summary {
	text-align: center;
	border: none;
	outline: none;
}

div.data-show {
	background: #E7E8D8; /* background of boxes for time and date render */
	border: 1px solid #286090;
}

div.data-show label {
	color: #2F4351;
}

div.edit-date {
	padding-top: 1em;
    box-shadow:0px 5px 35px 3px #000 inset;
}
